.reactHeader {
    border-bottom: 2px solid rgb(93, 93, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 50px 0 50px;
    padding-bottom: 10px;
}

.reactHeader h1 {
    align-items: center;
}