select {
    margin: 0 auto;
    font-family: "Montserrat-Medium-500";
    width: 250px;
    height: 40px;
    padding: 10px;
    border: 2px solid rgb(52, 52, 52);
    border-radius: 12px;
    color: rgb(85, 85, 85);
    ;
}